  
  .title-heading {
    background-color: #2B1F42;
    color: YELLOW;
    font-family: 'Hind Madurai', sans-serif;
    font-size: xxx-large;
    letter-spacing: 10px;
    margin-top: 0%;
  }
  
  .center {  
    padding: 10px;
    text-align: center;
  }
  
  .car-section {
    padding-top: 20px;
    text-align: left;
  }
  
  .car1 {
 
   margin-left: 0px;
  }
  
  .car2 {

   margin-left: 0px;
  }
  .car3 {
     
    margin-left: 0px;
   }
   .car4 {
  
    margin-left: 0px;
   }
   .car5 {
  
    margin-left: 0px;
   }